# Medical Insurance Regression Project

### Step 1: Loading Data

In [2]:
import pandas as pd 
import numpy as np
import os
from pathlib import Path

In [4]:
path = Path('../data/raw')
print(type(path))

<class 'pathlib.WindowsPath'>

In [6]:
df = pd.read_csv(path/"insurance.csv", encoding = "ISO-8859-1")

In [14]:
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

### Step 2: Exploratory Data Analysis (EDA)

This dataset has 1338 observations.

In [13]:
df.shape

(1338, 7)

In [16]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

The dataset has no null values.

In [15]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

The ranges for different numerical features:

Age: 18 - 64  
BMI: 15.96 - 53.13  
children: 0 - 5  
Charges: 1121.87 - 63770.43

In [8]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

### Step 3: Cleaning Data